<h1 class="top" align="center">Listing All Articles</h1>

<div align="center" class="top paginate">
  <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>  

<%= render 'article', obj: @articles %>


<div align="center" class="top paginate">
  <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div> 
