<h1 class="top" align="center">Listing All Articles</h1>

<div class="top pagination justify-content-center">
  <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>  

<%= render 'article', obj: @articles %>


<div class="top pagination justify-content-center">
  <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div> 
