
@import "bootstrap";
@import 'home';

#logo{
  float: left;
  color: #ffff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  text-decoration: none;
  color: #ffff;
}

.jumbotron{
  background-image: asset-url('dronG4.jpg');
  background-size: cover;
  height: 600px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.top{
  margin-top: 30px;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid rgba(228, 226, 228, 0.667);
  color:#777;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}
