<div class="container top">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://google,com">Acm1pt INC</a>
      By <a href="http://www.stackoverflow.com">Lazarus</a>
    </small> 
    <nav>
      <ul>
        <li><%= link_to 'About', href:"#"%></li>
      </ul>
    </nav>
  </footer>
</div>